<% provide(:title, 'Sign up') %>
<article id="webslides">
    <section class="bg-gradient-h">
    
    <div class="wrap">
        
            
                
                <div class="slide-top content-center">
                    <%= form_for(@user) do |f| %>
                        <%= f.label :Lei %>
                        <%= f.text_field :herName %>

                        <%= f.label :Lui %>
                        <%= f.text_field :hisName %>

                        <%= f.label :data_di_fidanzamento %>
                        <%= f.date_field :anniversary %>

                        <%= f.label :email %>
                        <%= f.text_field :email %>

                        <%= f.label :password %>
                        <%= f.password_field :password %>

                        <%= f.label :password_confirmation, "Conferma della password" %>
                        <%= f.password_field :password_confirmation %>

                        <%= f.submit "Crea il nostro account", class: "btn btn-primary" %>
                    <% end %>
                </div>
            
        
    </div>
    </section>
</article>