<main role='main'>
    <article id='webslide' class="vertical">
        <section>
            <header>
                <div class="wrap">
                    <p>
                        <%= link_to "Log out", logout_path, method: "delete" %>
                        
                        
                        <!--<span class="alignright"><%= link_to "Settings", edit_user_path(current_user) %></span>-->
                    </p>
                </div>
            </header>
            <div class="wrap aligncenter">
                <p class="text-subtitle">
                    <%= @user.herName %> 
                    <svg class="fa-heart-o">
                        <use xlink:href="#fa-heart-o"></use>
                    </svg>
                    <%= @user.hisName %><br>
                    <%= @user.anniversary %>
                </p>
                <h2 class="text-landing"><strong>Ti cielo</strong></h2>
                <blockquote>
                    <p>
                        "Non assomigli più a nessuna da quando ti amo."
                        <cite>Pablo Neruda</cite>
                    </p>
                </blockquote>
                <hr>
                <ul class="flexblock">
                    <li><h2>
                    <svg class="fa-plus">
                        <use xlink:href="#fa-plus"></use>
                    </svg>
                    <%= link_to "Aggiungi", new_micropost_path %></h2>crea il nostro oceano</li>
                    <li><h2>
                    <svg class="fa-chevron-down">
                        <use xlink:href="#fa-chevron-down"></use>
                    </svg>
                    <a href="#ricordi">Ricorda</h2>inizia a scorrere la pagina vediamo quante gocce ci sono nel nostro oceano</li></a>
                </ul>
            </div>
        </section>
        <!-- AGGIUNGERE I RICORDI QUI-->
        <a name="ricordi"></a>
        <% if @user.microposts.any? %>
            <%= render @microposts %>
        <% end %>

    </article>
</main>