<section class="bg-white">
    <div class="wrap">
      <% if micropost.imagedb %>
        <div class="card-50">
          <figure>
             <img src="<%= url_for(:controller => "microposts", 
                            :action => "show", 
                            :id => micropost.id) %>" />
          </figure>
          <div class="flex-content">
            <h2><%= micropost.title %></h2>
            <p><%= micropost.content %></p>
            <p> Posted <%= time_ago_in_words(micropost.created_at) %> ago.</p>
          </div>
        </div>
      <% else %>
        <h2 class="text-landing "><%= micropost.title %></h2>
        <p class="text-intro "><%= micropost.content %></p>
        <p> Posted <%= time_ago_in_words(micropost.created_at) %> ago.</p>
      <% end %>
    </div>
</section>