<section class="bg-white">
    <div class="wrap">
      <% if micropost.image.url(:large) != "/images/large/missing.png" %>
        <div class="card-50">
          <figure>
            <%= image_tag micropost.image.url(:large) %>
          </figure>
          <div class="flex-content">
            <h2><%= micropost.title %></h2>
            <p><%= micropost.content %></p>
          </div>
        </div>
      <% else %>
        <h2 class="text-landing "><%= micropost.title %></h2>
        <p class="text-intro "><%= micropost.content %></p>
        <p class="text-subtitle"> Posted <%= time_ago_in_words(micropost.created_at) %> ago.</p>
      <% end %>
    </div>
</section>