<article id="webslides">
    <section class="bg-apple">
    <div class="wrap">
        <div class="slide-top content-center">
            <%= form_for @micropost, html: { multipart: true }  do |f| %>
                <%= render 'shared/error_messages', object: f.object %>
                <%= f.label :title, "Titolo" %>
                <%= f.text_field :title %>
                
                <%= f.label :data_ricordo, "Data del ricordo (opzionale)" %>
                <%= f.date_field :date_mem, class: 'form-control' %>

                <%= f.label :imagedb, "Immagine" %>
                <%= f.file_field :imagedb, accept: "image/*" %>
                
                <%= f.label :content , "Scrivi il tuo ricordo" %>
                <div class="field">
                    <%= f.text_area :content, placeholder: "C'era una volta...", rows: "10" %>
                </div>
                <%= f.submit "Ricordalo per sempre", class: "btn btn-primary" %>
            <% end %> 
        </div>  
    </div>
    </section>
</article>