<!DOCTYPE html>
<html>
  <head>
    <title>MemorieDiCoppia</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "webslides" %>
    <%= stylesheet_link_tag "svg-icons" %>
  </head>
  <body>
    <%= yield %>
    
    <!--<%= javascript_include_tag "webslides", "data-turbolinks-track" => true  %>-->
    <%= javascript_include_tag "svg-icons", "data-turbolinks-track" => true  %>
  
  </body>
</html>
